.header-container {
    display: flex;
    height: 56px;
    background-color: #95BDFF;
    padding: 8px 16px;
    align-items: center;
    justify-content: space-between;
}

.app-info {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.app-logo {
    display: flex;
    height: 40px;
    border-radius: 16px;
}

.app-name {
    color: #DFFFD8;
    font-size: 20px;
}