.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-colored {
    display: flex;
    width: 100%;
    height: 56px;
    background-color: #95BDFF;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    box-sizing: border-box;
}

.app-info {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.app-logo {
    display: flex;
    height: 40px;
    border-radius: 16px;
}

.app-name {
    color: #DFFFD8;
    font-size: 20px;
}