.product-detail-container {
    display: flex;
    padding: 16px;
    gap: 48px;
    justify-content: center;
    flex-wrap: wrap;
}

.product-detail-image {
    width: 300px;
    aspect-ratio: 160/212;
}

.product-detail-description {
    display: flex;
}