.product-detail-container {
    display: flex;
    padding: 16px;
    gap: 48px;
    justify-content: center;
    flex-wrap: wrap;
}

.product-detail-image {
    width: 350px;
}

.product-detail-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.spinner-container {
    display: flex;
    justify-content: center;
}